/* https://www.color-hex.com/color-palette/82283 */
.season-2, .season-3, .season-4, .season-8, .season-9, .season-10, .season-11 {
  background-color: #d4af37 !important; /* gold */
}
.season-1 {
  background-color: #f485ba !important; /* pink */
}
.season-5 {
  background-color: #186420 !important; /* green */
}
.season-0, .season-1, .season-6, .season-7 {
  background-color: #800080 !important; /* purple */
}
